<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="./assets/style.css">
</head>
<body>
    <div id="app">
        <div class="nav-bar"></div>

        <div class="cart">Cart[{{ cart }}]</div>
        <div class="product-display">
            <div class="product-container">
                <div class="product-image">
                    <img class="p-style" :src="image" alt="cat-image">
                </div>
                <div class="product-info">
                    <h1>{{ title }}</h1>
                    <p v-if="inStock > 10">In Stock</p>
                    <p v-else-if="inStock <= 10 && inStock > 0">Almost sold out!</p>
                    <p v-else>Out of Stock</p>
                    
                    <ul>
                        <li v-for="detail in details">{{ detail }}</li>
                    </ul>

                    <div 
                        v-for="(variant, index) in variants" 
                        :key="variant.id" 
                        @mouseover="updateVariant(index)"
                        class="color-circle"
                        :style="{backgroundColor: variant.color}"    
                    ></div>

                    <button 
                        class="button" 
                        :class="{'disabled-button': !inStock}"
                        @click="addToCart"
                        :disabled="!inStock">Add to Cart</button>
                    <button v-if="cart > 0" class="button" @click="decreaseOfCart">Delete Cart</button>
                </div>
            </div>
        </div>
    </div>


    <!-- import app.js -->
    <script src="main.js"></script>

    <!-- mount App -->
    <script>
        const mountedApp = app.mount('#app')
    </script>
</body>
</html>